/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@font-face {
    font-family: "rockwell";
    src: url("../fonts/rockwell.ttf") format('truetype');
}

@font-face {
    font-family: "new_athena_unicode";
    src: url("../fonts/newathu405.ttf") format('opentype');
}

@font-face {
    font-family: "new_athena_unicode";
    src: url("../fonts/newathuBold405.ttf") format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "new_athena_unicode";
    src: url("../fonts/newathuBoldItalic405.ttf") format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "new_athena_unicode";
    src: url("../fonts/newathuItalic405.ttf") format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.otf") format('opentype');
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Bold.otf") format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-BoldItalic.otf") format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Italic.otf") format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Light.otf") format('opentype');
    font-weight: lighter;
}


/***main css ***/
html {
    overflow-x: hidden;
}
body {
    font-family: "Quicksand";
}

.wrapper {
    position: relative;
    width: 1349px;
    max-width: 100%;
    margin: 0 auto; 
}

.scroller {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 999;
}

.scroller #scrolltop {
    margin-left: 15px;
    margin-bottom: 20px;
    display: block; 
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}  

.scroller #scrolldown {
   display: block; 
   opacity:0.4;
   filter:alpha(opacity=40); /* For IE8 and earlier */
}

.scroller #scrolltop:hover {
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}  

.scroller #scrolldown:hover {
   opacity:1;
   filter:alpha(opacity=100); /* For IE8 and earlier */
}

.header {
    position: absolute;
    top: 0;
    right: -9px;
}

.topcontent {
    width: 720px;
    margin: 0 auto;
    padding-bottom: 160px;
}

.content {
    width: 720px;
    margin: 0 auto;
    padding-bottom: 160px;
}

.daytext {
    display: block;
    color: #fff;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: .5;
    font-size: 30px;
}

.not-so-dark {
    color: #313131 !important;
}

.side_greetings {
    position: absolute;
    width: 282px;
    left: -8px;
    top: 160px;
}

.greetings {
    width: inherit;
}

.greetings img{
    margin-top: 250px;
}

.greetings div {
    margin-top: -20px;
}

.greetings p {
    color: #fff;
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
    line-height: .5;
}

.topcontent .name {
    width: 115px;
    position: absolute;
    left: 190px;
}

.topcontent .sincerely {
    width: 128px;
    float: right;
    margin-top: -20px;
    margin-right: -120px;
}

.content .name {
    width: 115px;
    position: absolute;
    left: 190px;
}

.content .sincerely {
    width: 128px;
    float: right;
    margin-top: -20px;
    margin-right: -120px;
}

.clear {
    clear: both;
}

.daywrapper {
    background: #000;
}

.color-tomato {
    background-color: #f15d58;
}

.color-skyblue {
    background-color: #14a9f5;
}

.color-violetslate {
    background-color: #8390b2;
}

.color-happyyellow {
    background-color: #efe5c1;
}

.color-white {
    background-color: #fff;
}

.color-darkerwhite {
    background-color: #f0f5d2;
}

.color-brightyellow {
    background-color: #ffe240;
}

.color-plainishblue {
    background-color: #088db8;
}

.color-blackishgray {
    background-color: #383530;
}

.color-skyishblue {
    background-color: #3266de;
}

.color-pinkishpeach {
    background-color: #e9dbb6;
}

.color-pinkishpeach {
    background-color: #e9dbb6;
}

.color-lightblue {
    background-color: #c4e5dc;
}

.color-cityblue {
    background-color: #53c2bb;
}

#daytop {
    background-color: #f15d58;
}

#day1 {
    background: #14a9f5;
}

#day1 .greetings img {
    margin-top: 70px;
}

#day1 .greetings p {
    font-size: 24px;
    margin-top: 40px;
}

.psmall {
    font-size: 18px !important
}

#day2 {
    background: #8390b2;
}

#day2 .greetings img {
    margin-top: 70px;
    margin-left: -150px;
}

#day3 .greetings img {
    margin-top: 70px;
}

#day4 .greetings img {
    margin-top: 50px;
}

#day5 .greetings img {
    margin-top: -35px;
    margin-left: -75px;
}

#day6 .greetings img {
    margin-top: 40px;
    margin-left: 75px;
}

#day7 .greetings img {
    margin-top: 100px;
    margin-left: -80px;
}

#day8 .greetings img {
    margin-top: 90px;
}

#day9 .greetings img {
    margin-top: 90px;
}

#day10 .greetings img {
    margin-top: 90px;
}

#day11 .greetings img {
    margin-top: 90px;
}

#day12 .greetings img {
    margin-top: 70px;
}

#click7 {
    width: 450px;
}

#click7 img {
    position: absolute;
    margin-top: -100px !important;
    margin-left: 270px !important;
    z-index: 999;
    padding: 10px;
}

#click7 img:hover {
    background-color: #000;
    cursor: pointer;
}

#message {
    background: #3a3736;
}

#message .greetings img {
    margin-top: 70px;
    margin-left: -100px;
}

#message textarea {
    margin-top: 20px;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 28px;
    margin-left: -100px;
    width: 885px;
}

#message a {
    float: right;
    margin-top: 20px;
    margin-right: -75px;
}

#messagesent {
    display: none;
    margin-left: 100px !important;
}

#messagesmall {
    display: none;
}

@media screen and (max-width: 1185px) {
    #theday2 img {
        width: 950px !important;
    }
}

@media screen and (max-width: 1070px) {
    #thedaytop .greetings img {
         width: 680px !important;
         margin-left: 40px;
    }

    #thedaytop .greetings p {
         font-size: 35px !important;
    }
}

@media screen and (max-width: 965px) {
    #thedaytop .greetings img {
         width: 500px !important;
         margin-left: 140px;
    }

    #thedaytop .greetings p {
         font-size: 26px !important;
         margin-left: 45px;
    }

    #thedaytop .name {
        margin-top: 60px;
    }
    
    #thedaytop .sincerely {
        float: right;
        margin-right: 100px;
        padding-top: 50px;
    }

    #thedaytop .sincerely img {
        width: 120px;
    }
}

@media screen and (max-width: 905px) {
    #theday4 img {
        width: 600px !important;
    }
}

@media screen and (max-width: 860px) {
    #messagesmall {
        display: inline-block;
        margin-left: 100px !important;
    }

    #messagelarge {
        display: none;
    }

    #message textarea {
        margin-top: 20px;
        font-family: "Quicksand";
        font-weight: bold;
        font-size: 28px;
        margin-left: 100px;
        width: 430px;
    }

    #message a {
        display: block;
        margin-top: 20px;
        float: left;
        margin-left: 100px;
    }
}

@media screen and (max-width: 820px) {

    #theday2 img {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 740px !important;
    }
}

@media screen and (max-width: 750px) {
    #thedaytop .greetings {
         padding-top: 100px;
    }

    #thedaytop .name {
        margin-top: 15px;
    }
    
    #thedaytop .sincerely {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none;
        padding-left: 200px;
        padding-top: 50px;
    }

    #thedaytop .sincerely img {
        width: 90px;
    }

    #thedaytop .greetings div {
        padding-top: 10px;
    }

    #thedaytop .greetings img {
         width: 300px !important;
         margin-left: 215px;

    }

    #thedaytop .greetings p {
         font-size: 16px !important;
    }

    #theday1 img {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 580px !important;
    }

    #theday2 img {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 580px !important;
    }

    #theday3 img {
        width: 580px !important;
    }

}

@media screen and (max-width: 739px) {
    #theday8 img {
        width: 500px !important;
        margin-left: 80px !important;
    }
}

@media screen and (max-width: 680px) {
    #theday11 img {
        width: 600px !important;
        margin-left: 30px !important;
    }

    #theday12 img {
        width: 600px !important;
        margin-left: 30px !important;
    }
}

@media screen and (max-width: 645px) {
    #theday10 img {
        width: 500px !important;
        margin-left: 50px !important;
    }

    #theday12 img {
        width: 500px !important;
        margin-left: 30px !important;
    }
}

@media screen and (max-width: 630px) {
    #theday4 img {
        width: 500px !important;
    }

    #theday5 img {
        width: 500px !important;
        margin-left: -1px !important;
    }

    #theday11 img {
        width: 500px !important;
        margin-left: -1px !important;
    }
}

@media screen and (max-width: 610px) {
    #theday3 img {
        width: 480px !important;
    }

    #theday6 img {
        width: 480px !important;
    }

    #theday9 img {
        width: 480px !important;
        margin-left: 50px !important;
    }
}

@media screen and (max-width: 570px) {
    #theday7 img {
        width: 450px !important;
        margin-left: 40px !important;
    }

    #theday7 #click7 img {
        width: 200px !important;
        margin-top: -50px !important;
        margin-left: 220px !important;
    }

    #theday8 img {
        width: 450px !important;
        margin-left: 40px !important;
    }
}